html, body {
    height:     100%;
}

body {
    -webkit-perspective:        3000px;
}

.card {
    -webkit-transform-style:    preserve-3d;
    width:                      83.5px;
    height:                     121.5px;
    position:                   absolute;

    /* Backfacing by default */
    -webkit-transform:          rotateY(180deg);
}

.card .backface, .card .frontface {
    width:                          100%;
    height:                         100%;
    position:                       absolute;
    background-image:               url(cards-50.png);
    -webkit-backface-visibility:    hidden;
}

.card .backface {
    -webkit-transform:      rotateY(180deg);
    background-position:    -167.535px -486.4px;
}

#table {
    height:     600px;
}

.player_field {
    background-color:   #ddd;
    height:             100%;
}

#reset {
    position:   absolute;
    top:        5px;
    left:       5px;
}

.card.in_other_hand {
    opacity:    0.5;
}
